<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Buyer's Home Page</title>
<link
	href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600'
	rel='stylesheet' type='text/css' />
<link
	href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300'
	rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/css/owl.carousel.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/responsive.css}" />

</head>

<body>


	<div th:if="${formError}">
		<div class="alert alert-info">
			<h3>Order could not be placed :-( May be you put some wrong
				information.</h3>
		</div>
	</div>
	<!-- Navbar -->

	<div class="mainmenu-area">
		<div class="container">
			<div class="row">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="sr-only">Toggle</span> <span class="icon-bar"></span>
						<span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><img th:src="@{/img/mylogo.png}"></li>
						<li><a th:href="@{/buyer/home}">Home</a></li>
						<li><a th:href="@{/buyer/getCart}">Cart</a></li>
						<li><a th:href="@{/buyer/checkout}">Checkout</a></li>
						<li><a href="#">Contact</a></li>
						<li><a th:href="@{/logout}">Sign Out</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<br />

	<!-- THANK YOU PAGE -->
	
	<div class="jumbotron text-center">
		<h1 class="display-3">Thank You!</h1>
		<p class="lead">
			Your order Id is <strong th:text="${orderNo}+'. We will soon contact the seller.'">order No</strong> .
		</p>
		<hr>
		<p>
			Having trouble? <a href="#">Contact us</a>
		</p>
		<p class="lead">
			<a class="btn btn-primary btn-sm"
				th:href="@{/buyer/home}" role="button">Continue to
				homepage</a>
		</p>
	</div>


	<!-- Footer  -->

	<div class="footer-top-area">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="footer-about-us">
						<h2>
							Navdeep's<span> E-mart</span>
						</h2>
						<p>This is your Store and only place to Lorem ipsum dolor sit
							amet, consectetur adipisicing elit. Voluptatem molestias
							repudiandae, ut voluptate quas placeat accusamus! Vitae
							repudiandae a quos placeat excepturi incidunt aspernatur, ducimus
							quisquam consequuntur, accusamus ad laudantium!</p>
						<div class="footer-social">
							<a href="#" target="_blank"><i class="fa fa-facebook"></i></a> <a
								href="#" target="_blank"><i class="fa fa-twitter"></i></a> <a
								href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="footer-menu">
						<h2 class="footer-wid-title">User Navigation</h2>
						<ul>
							<li><a href="#">My account</a></li>
							<li><a href="#">Order history</a></li>
							<li><a href="#">Wishlist</a></li>
							<li><a href="#">Vendor contact</a></li>
							<li><a href="#">Home page</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="footer-menu">
						<h2 class="footer-wid-title">Categories</h2>
						<ul>
							<li><a href="#">Mobile Phone</a></li>
							<li><a href="#">Home accesseries</a></li>
							<li><a href="#">LED TV</a></li>
							<li><a href="#">Computer</a></li>
							<li><a href="#">Gadets</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="footer-newsletter">
						<h2 class="footer-wid-title">Newsletter</h2>
						<p>Sign up to our newsletter and get exclusive deals and
							prices straight to your inbox!</p>
						<div class="newsletter-form">
							<form action="#">
								<input type="email" placeholder="Type your email"> <input
									type="submit" value="Subscribe">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery.min.js"></script>
	<script
		src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/jquery.sticky.js}"></script>
	<script th:src="@{/js/jquery.easing.1.3.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/radioButtonHandler.js}"></script>
	<script th:src="@{/js/bxslider.min.js}"></script>
	<script th:src="@{/js/script.slider.js}"></script>
</body>
</html>
